Source: python-blabbermouth
Section: misc
Priority: optional
Maintainer: Vladimir Golubev <subsinthe@gmail.com>
Build-Depends:
    debhelper (>= 7),
    python
Standards-Version: 3.9.3
X-Python3-Version: 3.6

Package: python-blabbermouth
Section: misc
Priority: optional
Architecture: all
Depends:
    python,
Description: Chatting telegram bot powered by your talks and markov chains
 Chatting telegram bot powered by your talks and markov chains
